public interface I{{Name}} : IServiceClient
{
{{#each Operations}}

        {{#if HasDescription}}
        /// <summary>
        ///     {{{Description}}}
        /// </summary>
        {{/if}}
        Task<{{Response.DataType}}> {{Name}}();
{{/each}}
}